# ====================== QDRANT API =============================
QDRANT_API_KEY=
QDRANT_URL=
QDRANT_COLLECTION=
TOP_K=


# ====================== GEMINI API KEYS ======================
GEMINI_API_KEY=
GEMINI_MODEL=


# ====================== GROQ API KEYS ======================
GROQ_API_KEY=
GROQ_MODEL=